@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background: #EFF8E2;
    position: relative;
}
.container{
    text-align: center;
    width: 80%;
    margin: auto;
}
nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    color: #573280;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links .cart-logo{
    width: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.nav-links img{
    width: 100%; 
}
.nav-links li{
    margin-left: 20px;
    
}
.nav-links li a{
    text-decoration: none;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.logo img{
    width: 100%;
}
.col-2 h1{
    font-size: 45px;
    line-height: 60px;
}
.col-2 p{
    margin: 30px 0;
    color: #573280;
}
.col-2 a{
    max-width: 170px;
    padding: 12px 20px;
    border-radius: 30px;
    background: #CECFC7;
    outline: 0;
    border: 0;
    color: #573280;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}
.col-2 a:hover{
    background: #573280;
    color: #EFF8E2;
}
.row{
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    min-width: 300px;
    gap: 20px;
    text-align: left;
}
.col-2 img{
    width: 100%;
}
/* ----------category------------ */

.main-container{
    margin: 40px 0;
}
.col-3{
    padding: 10px;
    flex-basis: 30%;
}
.col-3 img{
    width: 100%;
}

/* ----------Featured-products------------ */

.col{
    margin: 50px 0;
    flex-basis: 23%;
    max-width: 270px;
    flex-wrap: wrap;
    text-align: left;
}
.col img{
    width: 100%;
}
.container h2{
    font-size: 26px;
    position: relative;
}
.container h2::after {
    content: '';
    position: absolute;
    background: #573280;
    width: 89px;
    height: 5px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50px;
}
.featured-title{
    margin-top: 60px;
    font-size: 26px;
    position: relative;
}
.col .rating .fa-star, .col .rating .fa-star-half-stroke {
    color: #ffa534;
}

/* -------------exclusive-section---------------- */

.exclusive-container{
    background-color: #EFF8E2;
    padding: 30px 0;
}
.img-container{
    max-width: 450px;
}
.text-container{
    line-height: 20px;
}
.text-container p{
    width: 620px;
}

/* -------------Testimonials-section---------------- */

.testimonial-container{
    margin: 80px 0;
}
.testimonial-col{
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s ease;
}
.testimonial-col:hover{
    transform: translateY(-10px);
}
.testimonial-col span .fa-solid{
    font-size: 50px;
    color: #ffa534;
}
.testimonial-col .rating .fa-star , .testimonial-col .rating {
    color: #ffa534;
}
.testimonial-col p{
    font-size: 14px;
    color: #573280;
    margin: 20px 10px;
}
.user-img{
    margin: 30px auto 20px;
    width: 50px;
    overflow: hidden;
}
.user-img img{
    width: 100%;
    border-radius: 50%;
}

/* -------------brands-section---------------- */

.brands-container{
    margin: 100px 0;
}
.col-5 img{
    cursor: pointer;
    transition: all 0.5s ease;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* -------------footer-section---------------- */

.footer{
    background: #000;
    padding: 60px 0 20px;
    color: #8a8a8a;
    font-size: 14px;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    text-align: left;
    max-width: 250px;
}
.footer-col-1 .app-img{
    margin-top: 20px;
    display: flex;
}
.app-img img{
    width: 140px;
}
.footer-col-2{
    flex: 1;
    margin-left: 80px;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3 , .footer-col-4{
    flex-basis: 12%;
}
.footer li{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

